{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n  %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extrahead %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- Container -->

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% if title and subtitle %}
        <div class="page-header">
            <h1>{{ title }} <small>{{ subtitle }}</small></h1>
        </div>
        {% endif %}
        {% block content %}
        {{ content }}
        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

</body>
</html>
